{% extends "base.html" %}


{% block content %}

     <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">ADD MEMBER</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
         <form method="post" id="personForm" data-groups-url="{% url 'web:members:load_groups' %}"  action="{{ request.get_full_path }}"  enctype="multipart/form-data">
            {% csrf_token %}
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>District</label>
                  <select id="id_district" class="form-control select2 group_select" style="width: 100%;" data-sub-group-el="id_block">
                      <option>----------------</option>
                      {% for d_group in data.districts %}
                         <option value="{{ d_group.0 }}">{{ d_group.1 }}</option>
                      {% endfor %}
                  </select>

                </div>

                      <div class="form-group">
                        <label>Block</label>
                        <select id="id_block" class="form-control select2 group_select" style="width: 100%;" data-sub-group-el="id_mekhala">
                            <option>----------------</option>
                        </select>

                      </div>

                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" name="first_name" class="form-control" placeholder="Enter ...">
                </div>

                <div class="form-group">

                  <label>Last Name</label>
                  <input type="text" name="last_name" class="form-control" placeholder="Enter ...">

                </div>

                <div class="form-group">
                  <label>Email</label>

                  <div class="input-group">

                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" name="email" class="form-control" placeholder="Email">
                  </div>
                </div>

                <!-- /.form-group -->
                <div class="form-group">
                  <label>Blood Group</label>
                   <select name="blood_group" class="form-control select2" style="width: 100%;">
                    <option value="a_positive">A +ve</option>
                    <option value="a_negative">A -ve</option>
                    <option value="b_positive">B +ve</option>
                    <option value="b_negative">B -ve</option>
                    <option value="ab_positive">AB +ve</option>
                    <option value="ab_negative">AB -ve</option>
                    <option value="o_positive">O +ve</option>
                    <option value="o_negative">O -ve</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Qualification</label>
                  <select name="qualification" class="form-control select2" style="width: 100%;">
                    <option selected="selected">Qualification</option>
                    <option>Btech</option>
                    <option>Plus two</option>
                    <option>MBBS</option>
                    <option>BCA</option>
                    <option>SSLV</option>
                    <option>Other</option>
                  </select>

                </div>

                <!-- radio -->
                <div class="form-group">
                  <label>Gender</label>
                  <p>

                    <label>
                      <input type="radio" name="gender" value="male" class="flat-red" checked>
                      Male

                    </label>
                    <label>
                      <input type="radio" name="gender" value="female" class="flat-red">
                      Female
                    </label>
                    <label>
                      <input type="radio" name="gender" value="other" class="flat-red">
                      Other
                    </label>

                </div>
                <div class="form-group">
                  <label>Is Active ?</label>
                  <p>
                    <label>
                      <input type="radio" name="is_active" value="true" class="flat-red" checked>
                      Yes
                    </label>
                    <label>
                      <input type="radio" name="is_active" value="false" class="flat-red">
                      No
                    </label>
                </div>
                <div class="form-group">
                  <label>Is Admin ?</label>
                  <p>
                    <label>
                      <input type="radio" name="is_admin" value="true" class="flat-red" checked>
                      Yes
                    </label>
                    <label>
                      <input type="radio" name="is_admin" value="false" class="flat-red">
                      No
                    </label>
                </div>
                <div class="form-group">
                  <label for="file_upload">Upload Photograph</label>
                  <input type="file" id="file_upload">
                  <input type="hidden" name="image" id="image_upload">

                   <script>
                       function readImage(input) {
                            if ( input.files && input.files[0] ) {
                                var FR= new FileReader();
                                FR.onload = function(e) {
                                     $('#image_upload').attr( "value", e.target.result.split(',')[1] );
                                };
                                FR.readAsDataURL( input.files[0] );
                            }
                        }

                        $("#file_upload").change(function(){
                            readImage( this );
                        });
                   </script>

                </div>


                <div class="box-footer">
                  <button type="submit" class="btn btn-primary">Add Member</button>
                </div>

              </div>
              <!-- /.form-group -->
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Mekhala</label>
                  <select id="id_mekhala" class="form-control select2 group_select" style="width: 100%;" data-sub-group-el="id_unit">
                      <option>----------------</option>
                    {% for m_group in data.mekhalas %}
                         <option value="{{ m_group.0 }}">{{ m_group.1 }}</option>
                      {% endfor %}
                  </select>

                </div>
                <div class="form-group">
                  <label>Unit</label>
                  <select id="id_unit" class="form-control select2" style="width: 100%;">
                      <option>----------------</option>
                    {% for u_group in data.units %}
                         <option value="{{ u_group.0 }}">{{ u_group.1 }}</option>
                      {% endfor %}
                  </select>

                </div>
                  <div class="form-group">
                        <label>Group</label>
                        <select name="group_ids" id="id_group" class="form-control select2" style="width: 100%;" multiple>
                            <option>----------------</option>
                          {% for group in groups %}
                             <option value="{{ group.0 }}">{{ group.1 }}</option>
                          {% endfor %}
                        </select>

                  </div>

                <div class="form-group">
                  <label>Mobile Number:</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <input type="text" name="mobile_no" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask>
                  </div>
                  <!-- /.input group -->
                </div>
                <div class="form-group">
                  <label>Date of Birth:</label>

                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" name="dob" class="form-control pull-right" id="datepicker">
                  </div>
                  <!-- /.input group -->
                </div>
                <div class="form-group">
                  <label>Age:</label>
                  <div class="input-group date">
                    <input type="text" name="age" class="form-control pull-right" >
                  </div>
                  <!-- /.input group -->
                </div>

                <div class="form-group">
                  <label>Current Job:</label>
                  <select name="job" class="form-control select2" style="width: 100%;">
                    <option selected="selected">Job </option>
                    <option>Software Engineer</option>
                    <option>Plus two</option>
                    <option>MBBS</option>
                    <option>BCA</option>
                    <option>SSLV</option>
                    <option>Other</option>
                  </select>
                </div>
                <div class="form-group">
                  <div class="form-group">
                    <label>Address</label>
                        <input type="text" name="house" class="form-control" placeholder="House No/Name">
                        <input type="text" name="street" class="form-control" placeholder="Street">
                        <input type="text" name="city" class="form-control" placeholder="City">
                        <input type="text" name="district" class="form-control" placeholder="District">
                        <input type="text" name="state" class="form-control" placeholder="State">
                        <input type="text" name="pin_code" class="form-control" placeholder="PIN">
                  </div>
                </div>

                <!-- /.form-group -->

                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
         </form>
         <script>
            console.log("heloooooooooooo");
            $(".group_select").change(function () {
              var url = $("#personForm").attr("data-groups-url");
              console.log("heloooooooooooo");
              console.log(url);
              var sub_group_el = $(this).attr("data-sub-group-el");
              var group_id = $(this).val();  // get the selected group ID from the HTML input

              $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/members/load_groups)
                data: {
                  'group_id': group_id       // add the district group id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_groups` view function
                  $("#"+sub_group_el).html(data);
                  $("#id_group").html(data);
                }
              });

            });
          </script>
          <!-- /.box-body -->

        </div>
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">All Members</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Mobile Number</th>
                </tr>
                </thead>
                <tbody>
                {% for member in data.members %}
                <tr>
                  <td>
                    <div class="user-panel">
                    <div class="pull-left image">
                      <img src="data:image/png;base64,{{ member.image }}" alt="User Image">
                    </div>
                      </div>
                  </td>
                  <td>{{ member.name.first }}</td>
                  <td>{{ member.name.last }}</td>
                  <td>{{ member.mobile_no }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>

{% endblock %}